<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribers List</title>
    <!-- CDN CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS LINK -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- CDN FONT AWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="container mt-3">
        <h1>Subscribers List</h1>
        <span class="text-end d-block mb-2"><button class="btn btn-success btn-sm shadow-none"><a th:href="@{/new}"
                    class="fas fa-plus"></a></button></span>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover align-middle">
                <caption summary="Subscribers List" class="text-end">Subscribers List</caption>
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscriber : ${subscribers}">
                        <td th:text="${subscriber.firstName}"></td>
                        <td th:text="${subscriber.lastName}"></td>
                        <td th:text="${subscriber.email}"></td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm shadow-none"><a href="#"
                                    class="fas fa-eye"></a></button>
                            <button class="btn btn-success btn-sm shadow-none"><a href="#"
                                    class="fas fa-edit"></a></button>
                            <button class="btn btn-danger btn-sm shadow-none"><a href="#" class="fas fa-trash-alt"
                                    onclick="return confirm('Are you sure to want to delete this record ?')"></a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- CDN JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>